@font-face{
    font-family: 'Raleway';
    src: url(police/Raleway-VariableFont_wght.ttf) format('truetype');
    src: url(police/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bloc_page{
    height: 992px;
    width: 1280px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
a{
    color: black;
    text-decoration: none;
}
header{
    width: 100%;
    height: 40%;
}
#menu{
    display: flex;
    justify-content: space-between;
}
#menu img{
    width: 6%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;

}
nav{
    width: 22%;
    margin-top: 2%;
    margin-right: 2%;
    font-size: medium;
}
nav a:focus{
    border: 2px #0065FC solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #0065FC;
    padding-top: 10%;
}
nav .hebergements{
    padding-right: 3%;
    padding-left: 3%;
}
nav .activites{
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 23%;
}
header h1{
    font-size: 145%;
    margin-left: 0.5%;
}
header h3{
    font-size: 107%;
    font-weight: 400;
}
#recherche{
    display: flex;
    text-align: justify;
    width: 110%;
    height: 100%;
}
form{
    width: 80%;
    height: 14%;
}
#recherche i{
    width: 2%;
    height: 41%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
    border: 2px  #F2F2F2 solid;
    border-right: none;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    background-color: #F2F2F2;
    font-size: 120%;
}
#recherche .ville_pays{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 118%;
    border-left: none;
    border-right: none;
    color: black;
    height: 79%;
}
input::placeholder{
    color: black;
}
#recherche .boutton{
    width: 12%;
    height: 90%;
    border: 2px black;
    padding-left: 1.50%;
    padding-right: 1.50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: large;
    background-color: #0065FC;
    color: blanchedalmond;
}
#filtres{
    display: flex;
    text-align: center;
    width: 74%;
    height: 22%;
}
#filtres h2{
    margin-top: 1.5%;
    margin-right: 2%;
    padding-top: 2%;
}
ul{
    display: flex;
    list-style-type: none;
    width: 83%;
    height: 60%;
}
li{
    border: 2px #F2F2F2 solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    width: 100%;
    height: 54%;
    padding: 8%;
    font-weight: bold;
}
li:hover{
    background-color: grey;
}
ul i{
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    width: 70px;
    height: 75%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding-top: 6%;
}
.economie{
    display: flex;
    padding-right: 2%;
    padding-top: 1%;
}
.familial{
    display: flex;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
}
.romantique{
    display: flex;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
}
.animaux_autorises{
    display: flex;
    white-space: nowrap;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
}
#info{
    width: 40%;
    height: 13%;
}
#info p{
    width: 100%;
    height: 100%;
    padding-top: 2%;
}
#info i{
    color: #0065FC;
    border:2px #F2F2F2 solid;
    border-radius: 25px;
    width: 2%;
    height: 38%;
    padding-left: 2%;
    margin-left: 0.5%;
    padding-top: 1%;
    padding-right: 1%;
    font-size: 85%;
}
#main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 74%;
}

.premiere_section{
    width: 65%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: #F2F2F2; 
}
.premiere_section section{
    width: 100%;
    height: 100%;
}
.premiere_section figure{
    margin: auto;
    width: 100%;
    height: 100%;
}
.premiere_section h1{
    margin: auto;
    font-size: 130%;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
}
.premiere_ligne{
    display: flex;
    justify-content: space-around;
    height: 36%;
    width: 100%;
}
.premiere_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.premiere_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.premiere_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.premiere_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.etoile{
    display: flex;
    font-size: 85%;
    padding-left: 5%;
    padding-top: 4%;
    color: #0065FC;
}
.etoile_grise{
    color: #F2F2F2;
}
.deuxieme_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.deuxieme_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.deuxieme_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.deuxieme_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.troisieme_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.troisieme_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.troisieme_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.troisieme_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.deuxieme_ligne{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 36%;
    margin-top: 2%;
}
.quatrieme_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.quatrieme_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.quatrieme_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.quatrieme_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.cinquieme_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.cinquieme_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.cinquieme_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.cinquieme_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.sixieme_figure{
    width: 30%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.sixieme_figure img{
    width: 96%;
    height: 60%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-left: 2%;
    margin-top: 2%;
}
.sixieme_figure h2{
    font-size: 100%;
    white-space: nowrap;
    margin: auto;
    padding-left: 5%;
    padding-top: 3%;
}
.sixieme_figure figcaption{
    padding-left: 5%;
    padding-top: 3%;
    font-size: 100%;
}
.premiere_section h3{
    margin: auto;
    padding-left: 5%;
    padding-top: 5%;
}
.deuxieme_section{
    width: 32%;
    height: 95%;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    background-color: #F2F2F2;
}
.deuxieme_section section{
    width: 100%;
    height: 100%;
}
.titre_deuxieme_section{
    display: flex;
    justify-content: space-between;
}
.colonne{
    width: 100%;
    height: 88%;
}
.colonne article{
    width: 100%;
    height: 100%;
    margin: auto;
}
.deuxieme_section h1{
    margin-top: 10%;
    margin-left: 9%;
    font-size: 140%;
}
.titre_deuxieme_section i{
    font-size: 155%;
    margin-top: 10%;
    margin-right: 8%;
}
.article_1{
    width: 85%;
    height: 27%;
    margin-left: 7%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.article_1 img{
    float: left;
    width: 40%;
    height: 93.5%;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -3.5%;
    margin-left: 1%;
}
.article_1 h2{
    font-size: large;
    margin-left: 47%;
}
.article_1 p{
    margin-left: 47%;
}
.etoile_1{
    display: flex;
    font-size: 85%;
    margin-top: 12%;
    margin-left: 47%;
    color: #0065FC;
}
.article_2{
    margin-top: 8%;
    width: 85%;
    height: 27%;
    margin-left: 7%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.article_2 img{
    float: left;
    width: 40%;
    height: 93.5%;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -3.5%;
    margin-left: 1%;
}
.article_2 h2{
    font-size: large;
    margin-left: 47%;
}
.article_2 p{
    margin-left: 47%;
}
.article_3{
    margin-top: 8%;
    width: 85%;
    height: 27%;
    margin-left: 7%;
    border: 2px #F2F2F2 solid;
    border-radius: 22px;
    background-color: white;
}
.article_3 img{
    float: left;
    width: 40%;
    height: 93.5%;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -3.5%;
    margin-left: 1%;
}
.article_3 h2{
    font-size: large;
    margin-left: 47%;
}
.article_3 p{
    margin-left: 47%;
}
.troisieme_section h1{
    margin-top: 4%;
}
.activites_bloc{
    display: flex;
    justify-content: space-between;
}
.bloc_1{
    width: 23%;
}
.vieux_port{
    width: 100%;
    height: 600px;
    background-color: white;
}
.vieux_port img{
    width: 100%;
    height: 87%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.vieux_port h2{
    margin-top: -2%;
    padding-top: 7%;
    padding-left: 6%;
    padding-bottom: 4%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}
.bloc_2{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fort{
    width: 100%;
    height: 264px;
    background-color: white;
}
.fort img{
    width: 100%;
    height: 97%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.fort h2{
    margin-top: -2%;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}
.iles{
    width: 100%;
    height: 230px;
    background-color: white;
}
.iles img{
    width: 100%;
    height: 64%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.iles h2{
    margin-top: -2%;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}
.bloc_3{
    width: 23%;
}
.calanques{
    width: 100%;
    height: 600px;
    background-color: white;
}
.calanques img{
    width: 100%;
    height: 87%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.calanques h2{
    margin-top: -2%;
    padding-top: 7%;
    padding-left: 6%;
    padding-bottom: 4%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}
.bloc_4{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eglise{
    width: 100%;
    height: 230px;
    background-color: white;
}
.eglise img{
    width: 100%;
    height: 87%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.eglise h2{
    margin-top: -2%;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}
.longchamp{
    width: 100%;
    height: 230px;
    margin-bottom: 11%;
    background-color: white;
}
.longchamp img{
    width: 100%;
    height: 87%;
    border: 0.5px white solid;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.longchamp h2{
    margin-top: -2%;
    padding-top: 6%;
    padding-left: 6%;
    padding-bottom: 5%;
    border: 2px #F2F2F2 solid;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top: none;
    font-size: larger;
}